<header class="main-nav">
	<nav class="right-nav"> 
		<ul>
		
			<li id="subscribe-sidebar-btn">
				<i class="fa fa-btn"></i>
				<button>SUBSCRIBE NOW</button>
			</li>
			<li id="login-sidebar-btn">
				<i class="fa fa-btn"></i>
				<button>LOG IN</button>
			</li>
			<li id="gear-dropdown-btn">
				<i class="fas fa-cog"></i>
				<%= render partial: 'shared/gear_dropdown' %>
			</li>
		</ul>	
	</nav>
	<nav class="left-nav">
		
		<ul>
			<li id="sections-sidebar-btn">
				
				<button><i class="fa fa-bars"></i> SECTIONS</button>
			</li>
			<li id="search-modal-btn">
				
				<button><i class="fa fa-search"></i> SEARCH</button>
			</li>
		</ul>
	</nav>
</header>