<div class='masthead'>
    <ul class='language-nav'>
        <li >
            <a href="https://www.w3schools.com">CSS</a>
        </li >
        <li >
            <a href="https://www.w3schools.com">HTML</a>
        
        </li >
        <li >
            <a href="https://www.w3schools.com">Javascript</a>
        </li>
        <li >
            <a href="https://www.w3schools.com">Ruby</a>
        </li>
    </ul>

    <img src="<%= asset_path('AA_Times_Logo.png') %>" alt="logo" class='logo'>
    

    <ul class='masthead-links'>
        <li>Tuesday, October 18, 2016</li>
        <li class='must-underline'>
        <i class="far fa-newspaper"></i>Today’s Paper</li>
        <li class='must-underline'>
        <i class="fas fa-video"></i>Video
        </li>
        <li> 
            <button>77°F</button>    
        </li>
        <li>
            <button>AAO <strong>+100%</strong></button>    
        </li>
    </ul>
</div>




