// Use the gear_dropdown.png screenshot as a style guide
// .gear-dropdown{
//     position: relative;
//     display: inline-block;
// }

.gear-dropdown {
    position: absolute;
    top: 40px;
    right: 150px;
    z-index: 1;
    width: 300px;
    height: 200px;
    background-color: white;
    border-radius: 2px;
    border: thin solid lightgray ;
    // border-color: lightgray;
    color: #6f6f6f;
    line-height: 1.5;
    box-shadow: -1px 4px 6px 1px rgba(0, 0, 0, 0.09);
    

}



.gear-dropdown > li {
    text-transform: uppercase;
    font-family: sans-serif;
    font-size: 14px;
    margin: 10px 0px 10px 10px;
    font-weight: 200;
    margin-right: 5px;

}

.dropdown-subtitle {
    font-size: 10px;
    font-weight: 600;
}

.help > li {
    color: blue;
}

.help > li:hover{
    text-decoration: underline;
}

.editions li:hover{
    background-color: #e2e2e2;
    border-radius: 3px;
    cursor: pointer;
    color: black;
    
}

.editions{

    border-bottom: thin solid rgb(190, 200, 210);
}

.editions :last-child{
    margin-bottom: 8px;
}
