h4 {
    margin: 15px 15px 0px 0px;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 24px;
}

h6 {

    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    margin: 10px 15px 10px 0px;
}

h4:hover{
    text-decoration: underline;
    cursor: pointer;
}

h6:hover{
    text-decoration: underline;
    cursor: pointer;
}

.sub-title{
    font-size: 10px;
    text-transform: uppercase;
}

.opinion-pages {
    display: flex;
    justify-content: center;
    font-size: 16px;
    padding-left: 0px;
    padding-top: 15px;
    padding-bottom: 15px;

}

.video{
    padding-top: 15px;
    width: 100%;
    height: auto;
}

.left-col {
    padding: -20px;
}

.article-text{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
    font-size: 14px;

}

.author {
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
    font-size: 14px;
    color: gray;
    padding: 0px 0px 10px 0px;
}

.list > li{
    list-style-type: disc;

}

.comment{
    font-size: 12px;
    color: #326891;
    padding-top: 10px;
}

.comment:hover{
    text-decoration: underline;
    cursor: pointer;
}

.center-articles{
    margin: 0px 0px 10px 0px;
}

.gray-line{
    display: flex;
    justify-content: center;
    border-bottom: thin solid gray;
    padding: 5px 50px 5px 50px;
}

.img{
    width: 140px;
  height: 100px;
  object-fit: cover;
}

.sign-up-btn:hover{
    background-color: lightblue;
    cursor: pointer;
    color: white;
}

.sign-up-btn {
    
    float: right;
}

.form-box{
    font-size: 12px;
    border: 2px solid gray;
    visibility: visible;
    width: 225px;
    height: 32px;
}

.offer-message{
    margin: 10px 0px 0px 0px;
    font-size: 10px;
    text-align: center;
    color: gray;
}

.sign-up{
    display: flex;
}

.form-box{
    flex:1
}